AES Jobs - FeatureBranch/Production-branch/AES Hiring Application/Wcf.AES.Jobs.Client.Tests/Service References/WebService/JobService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2236/JobService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" />
  <xs:element name="Get_Job_Posting_List">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Job_Posting_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Get_Job_Posting_ListResult" nillable="true" type="q1:ArrayOfOpenJobs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Job_Posting_List_By_User">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="status" type="q2:PostingStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Job_Posting_List_By_UserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Get_Job_Posting_List_By_UserResult" nillable="true" type="q3:ArrayOfOpenJobs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Posting_By_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Posting_By_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Get_Posting_By_IDResult" nillable="true" type="q4:OpenJobs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Store_Location_List">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Store_Location_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Get_Store_Location_ListResult" nillable="true" type="q5:ArrayOfStoreLocations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Job_Template_List">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Job_Template_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Get_Job_Template_ListResult" nillable="true" type="q6:ArrayOfJobTemplates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_JobTemplate_By_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_JobTemplate_By_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Get_JobTemplate_By_IDResult" nillable="true" type="q7:JobTemplates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Question_Form">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="qType" type="q8:QuestionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Question_FormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Get_Question_FormResult" nillable="true" type="q9:ArrayOfQuestionForm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Job_Application_By_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Job_Application_By_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Get_Job_Application_By_IDResult" nillable="true" type="q10:Job_Application" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Job_Application_List_By_Stage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="stage" type="q11:AppStages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Job_Application_List_By_StageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Get_Job_Application_List_By_StageResult" nillable="true" type="q12:ArrayOfJob_Application" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Job_Application_List_By_Stage_Location">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="stage" type="q13:AppStages" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Job_Application_List_By_Stage_LocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Get_Job_Application_List_By_Stage_LocationResult" nillable="true" type="q14:ArrayOfJob_Application" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Answers_By_Application_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Application_ID" nillable="true" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="qType" type="q15:QuestionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Answers_By_Application_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Get_Answers_By_Application_IDResult" nillable="true" type="q16:ArrayOfQuestion_Answer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Applications_by_User_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Applications_by_User_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Get_Applications_by_User_IDResult" nillable="true" type="q17:ArrayOfJob_Application" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Location_By_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Location_By_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Get_Location_By_IDResult" nillable="true" type="q18:StoreLocations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_Job_Posting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="posting" nillable="true" type="q19:NewPosting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_Job_PostingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_Job_Template">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="newJob" nillable="true" type="q20:JobTemplates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_Job_TemplateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_Application">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Posting_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_ApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Create_ApplicationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_Location">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Location_City" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Location_Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_LocationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Job_Posting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Job_PostingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Job_Template">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Job_TemplateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuestionsByJobID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JobID" nillable="true" type="xs:int" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="qType" type="q21:QuestionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuestionsByJobIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="getQuestionsByJobIDResult" nillable="true" type="q22:ArrayOfQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuestionByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuestionByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="getQuestionByIDResult" nillable="true" type="q23:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteQuestionByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteQuestionByIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="qType" type="q24:QuestionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="getAllQuestionsResult" nillable="true" type="q25:ArrayOfQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="question" nillable="true" type="q26:Question" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Qtype" type="q27:QuestionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewQuestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addQuestionToJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="questionIDjobID" nillable="true" type="q28:QuestionIDJobID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addQuestionToJobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="removeQuestionFromJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="questionIDjobID" nillable="true" type="q29:QuestionIDJobID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeQuestionFromJobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Answer_To_Table">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="answer" nillable="true" type="q30:ArrayOfAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Answer_To_TableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Job_Template">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="jobTemp" nillable="true" type="q31:JobTemplates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Job_TemplateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Question">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="question" nillable="true" type="q32:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_QuestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Job_Questions_By_Form">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Job_ID" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="form" nillable="true" type="q33:ArrayOfQuestionForm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Job_Questions_By_FormResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Location">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="locations" nillable="true" type="q34:StoreLocations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_LocationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Posting_Status">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostingID" type="xs:int" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="status" type="q35:PostingStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Posting_StatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Application_Stage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Application_ID" nillable="true" type="xs:int" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="stage" type="q36:AppStages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Application_StageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Grade_Answers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grade_AnswersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>