AES Jobs - FeatureBranch/Production-branch/AES Hiring Application/Wcf.AES.Jobs.Client.Tests/Service References/UserService/LoginService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2236/LoginService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfAESJobs.AccountLibrary" />
  <xs:import schemaLocation="http://localhost:2236/LoginService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:2236/LoginService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://localhost:2236/LoginService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" />
  <xs:element name="FindById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfAESJobs.AccountLibrary" minOccurs="0" name="FindByIdResult" nillable="true" type="q1:ApplicationUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfAESJobs.AccountLibrary" minOccurs="0" name="FindByNameResult" nillable="true" type="q2:ApplicationUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfAESJobs.AccountLibrary" minOccurs="0" name="user" nillable="true" type="q3:ApplicationUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfAESJobs.AccountLibrary" minOccurs="0" name="FindByEmailResult" nillable="true" type="q4:ApplicationUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesAsync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfAESJobs.AccountLibrary" minOccurs="0" name="user" nillable="true" type="q5:ApplicationUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesAsyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRolesAsyncResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfAESJobs.AccountLibrary" minOccurs="0" name="user" nillable="true" type="q7:ApplicationUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsInRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfAESJobs.AccountLibrary" minOccurs="0" name="user" nillable="true" type="q8:ApplicationUser" />
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsInRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsInRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfAESJobs.AccountLibrary" minOccurs="0" name="user" nillable="true" type="q9:ApplicationUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetRoleFormResult" nillable="true" type="q10:ArrayOfRoleForm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToRoleByForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="form" nillable="true" type="q11:ArrayOfRoleForm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToRoleByFormResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfAESJobs.AccountLibrary" minOccurs="0" name="user" nillable="true" type="q12:ApplicationUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetLocationFormResult" nillable="true" type="q13:ArrayOfLocationForm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToLocationByForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="form" nillable="true" type="q14:ArrayOfLocationForm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToLocationByFormResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationsByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationsByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="GetLocationsByUserIDResult" nillable="true" type="q15:ArrayOfStoreLocations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkHistoryByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkHistoryByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetWorkHistoryByUserResult" nillable="true" type="q16:ArrayOfWorkHistory_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationHistoryByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationHistoryByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetEducationHistoryByUserResult" nillable="true" type="q17:ArrayOfEducationHistory_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEducationHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="education" nillable="true" type="q18:ArrayOfEducationHistory_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEducationHistoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="work" nillable="true" type="q19:ArrayOfWorkHistory_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkHistoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkHistoryByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkHistoryByIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEducationHistoryByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEducationHistoryByIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="EduHist" nillable="true" type="q20:ArrayOfEducationHistory_User" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationHistoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="WorkHist" nillable="true" type="q21:ArrayOfWorkHistory_User" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkHistoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>